---
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => {
    console.log(project);
    console.log(typeof project);
    return { params: { id: project.id } };
  });
}
---

<h1>Something</h1>
