---
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  // const entry = await getEntry("projects", "project-1.md");
  console.log({ projects });

  return projects.map((project) => {
    return { params: { slug: project.slug } };
  });

  // return [{ params: { slug: entry?.slug } }];
}
---

<h1>Something</h1>
