---
export const prerender = false;

import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<Layout>
  <Navbar />
  <PageLayout>
    <form class="flex flex-col max-w-2xl" method="POST" action="">
      <label for="name">Name</label>
      <input class="border" name="name" id="name" type="text" />
      <label for="email">Email</label>
      <input class="border" name="email" id="email" type="email" />
      <label for="message">Message</label>
      <textarea class="border" name="message" id="message" placeholder=""
      ></textarea>
      <input class="bg-black text-white" type="submit" value="Send" />
    </form>
  </PageLayout>
</Layout>
