---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";

const isValidEmail = (email: string) => {
  return email.includes("@");
};
let formData;
const errors = { name: "", email: "", message: "" };

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    formData = {
      name: data.get("name"),
      email: data.get("email"),
      message: data.get("message"),
    };

    if (typeof formData.name !== "string") {
      errors.name = "Invalid name";
    }
    if (typeof formData.email !== "string" || !isValidEmail(formData.email)) {
      errors.email = "Invalid email";
    }
    if (typeof formData.message !== "string") {
      errors.message = "Invalid message";
    }

    console.log(formData);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout>
  <Navbar />
  <PageLayout>
    <form class="flex flex-col max-w-2xl" method="POST">
      <label for="name">Name</label>
      <input class="border" name="name" id="name" type="text" />
      {errors.name && <p class="text-red-500">{errors.name}</p>}
      <label for="email">Email</label>
      <input class="border" name="email" id="email" type="email" required />
      {errors.email && <p class="text-red-500">{errors.email}</p>}
      <label for="message">Message</label>
      <textarea class="border" name="message" id="message" placeholder=""
      ></textarea>
      {errors.message && <p class="text-red-500">{errors.message}</p>}
      <input class="bg-black text-white" type="submit" value="Send" />
    </form>
  </PageLayout>
</Layout>
