---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <Hero class="pt-32" />
  <h1 class="mb-10">Home</h1>
  <div class="space-y-10 max-w-80">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus commodi
      amet laborum hic sit, ab deleniti incidunt quo aperiam, eius quia ipsa
      animi. Aperiam repudiandae vero autem necessitatibus ex tempora ad
      reiciendis incidunt. Maxime aspernatur earum dicta facilis, ad culpa illo
      repudiandae ea nesciunt eius sint inventore, placeat pariatur provident
      aliquam corrupti facere atque debitis animi. Fugit architecto assumenda
      nostrum repellendus sit magni et, amet maxime hic aut dolorum, est quos
      fugiat porro laborum sequi exercitationem corrupti vero eum deleniti. Ipsa
      obcaecati dolore exercitationem unde eum? Eius ad commodi minima doloribus
      ab, sint soluta ullam itaque consectetur tempore quidem rem, provident
      inventore? Molestias nisi reprehenderit excepturi? Exercitationem
      temporibus repellendus eos impedit veritatis dolorum maiores ea
      consequuntur reprehenderit architecto laboriosam in, perspiciatis
      voluptatibus odio! Velit fugit et alias laborum nostrum reprehenderit
      quidem vero nam! Enim magnam cumque, itaque assumenda ad repellat
      veritatis consequatur et in. Qui vitae officia adipisci suscipit officiis
      vero quibusdam architecto beatae alias molestiae. Adipisci accusamus at,
      provident nihil necessitatibus ad magni inventore numquam placeat
      voluptatum quibusdam nesciunt, nisi deserunt quisquam? At provident rem
      soluta sequi. Aperiam sit consequuntur atque magni excepturi quam, ullam
      debitis dolorum corrupti voluptatibus tempora quo modi nostrum
      necessitatibus? Fugit necessitatibus maiores maxime ipsum facere
      obcaecati? Totam, molestiae vero rerum voluptatem, similique deserunt in
      architecto voluptates eveniet alias inventore odio velit optio quo ullam
      quae quos, modi aut officiis blanditiis cupiditate? Molestias, at ipsum
      illo consectetur fuga, libero ipsam placeat beatae magnam minima saepe eos
      blanditiis voluptatum corporis sint itaque esse. Inventore, quas
      voluptate.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus commodi
      amet laborum hic sit, ab deleniti incidunt quo aperiam, eius quia ipsa
      animi. Aperiam repudiandae vero autem necessitatibus ex tempora ad
      reiciendis incidunt. Maxime aspernatur earum dicta facilis, ad culpa illo
      repudiandae ea nesciunt eius sint inventore, placeat pariatur provident
      aliquam corrupti facere atque debitis animi. Fugit architecto assumenda
      nostrum repellendus sit magni et, amet maxime hic aut dolorum, est quos
      fugiat porro laborum sequi exercitationem corrupti vero eum deleniti. Ipsa
      obcaecati dolore exercitationem unde eum? Eius ad commodi minima doloribus
      ab, sint soluta ullam itaque consectetur tempore quidem rem, provident
      inventore? Molestias nisi reprehenderit excepturi? Exercitationem
      temporibus repellendus eos impedit veritatis dolorum maiores ea
      consequuntur reprehenderit architecto laboriosam in, perspiciatis
      voluptatibus odio! Velit fugit et alias laborum nostrum reprehenderit
      quidem vero nam! Enim magnam cumque, itaque assumenda ad repellat
      veritatis consequatur et in. Qui vitae officia adipisci suscipit officiis
      vero quibusdam architecto beatae alias molestiae. Adipisci accusamus at,
      provident nihil necessitatibus ad magni inventore numquam placeat
      voluptatum quibusdam nesciunt, nisi deserunt quisquam? At provident rem
      soluta sequi. Aperiam sit consequuntur atque magni excepturi quam, ullam
      debitis dolorum corrupti voluptatibus tempora quo modi nostrum
      necessitatibus? Fugit necessitatibus maiores maxime ipsum facere
      obcaecati? Totam, molestiae vero rerum voluptatem, similique deserunt in
      architecto voluptates eveniet alias inventore odio velit optio quo ullam
      quae quos, modi aut officiis blanditiis cupiditate? Molestias, at ipsum
      illo consectetur fuga, libero ipsam placeat beatae magnam minima saepe eos
      blanditiis voluptatum corporis sint itaque esse. Inventore, quas
      voluptate.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus commodi
      amet laborum hic sit, ab deleniti incidunt quo aperiam, eius quia ipsa
      animi. Aperiam repudiandae vero autem necessitatibus ex tempora ad
      reiciendis incidunt. Maxime aspernatur earum dicta facilis, ad culpa illo
      repudiandae ea nesciunt eius sint inventore, placeat pariatur provident
      aliquam corrupti facere atque debitis animi. Fugit architecto assumenda
      nostrum repellendus sit magni et, amet maxime hic aut dolorum, est quos
      fugiat porro laborum sequi exercitationem corrupti vero eum deleniti. Ipsa
      obcaecati dolore exercitationem unde eum? Eius ad commodi minima doloribus
      ab, sint soluta ullam itaque consectetur tempore quidem rem, provident
      inventore? Molestias nisi reprehenderit excepturi? Exercitationem
      temporibus repellendus eos impedit veritatis dolorum maiores ea
      consequuntur reprehenderit architecto laboriosam in, perspiciatis
      voluptatibus odio! Velit fugit et alias laborum nostrum reprehenderit
      quidem vero nam! Enim magnam cumque, itaque assumenda ad repellat
      veritatis consequatur et in. Qui vitae officia adipisci suscipit officiis
      vero quibusdam architecto beatae alias molestiae. Adipisci accusamus at,
      provident nihil necessitatibus ad magni inventore numquam placeat
      voluptatum quibusdam nesciunt, nisi deserunt quisquam? At provident rem
      soluta sequi. Aperiam sit consequuntur atque magni excepturi quam, ullam
      debitis dolorum corrupti voluptatibus tempora quo modi nostrum
      necessitatibus? Fugit necessitatibus maiores maxime ipsum facere
      obcaecati? Totam, molestiae vero rerum voluptatem, similique deserunt in
      architecto voluptates eveniet alias inventore odio velit optio quo ullam
      quae quos, modi aut officiis blanditiis cupiditate? Molestias, at ipsum
      illo consectetur fuga, libero ipsam placeat beatae magnam minima saepe eos
      blanditiis voluptatum corporis sint itaque esse. Inventore, quas
      voluptate.
    </p>
  </div>
</Layout>
