---
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";
import CTAButton from "../components/CTAButton.astro";

const searchParams = Astro.url.searchParams;
---

<Layout>
  <div class="h-screen grid gap-4 place-content-center text-center">
    <Heading>Oops</Heading>
    <p class="text-lg">Something went wrong</p>
    <div class="mt-16"></div>
    <CTAButton href={`/?${searchParams}#contact`}>
      &larr; Back to Contact
    </CTAButton>
  </div>
</Layout>
