---
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<!-- TODO code thank you page -->
<Layout>
  <PageLayout>
    <h1>Thank you</h1>
  </PageLayout>
</Layout>
