---

---

<section class="flex flex-col items-center space-y-16">
  <h2 class="text-2xl font-extrabold">About me</h2>
  <div class="columns-1 sm:columns-2 gap-8">
    <div class="space-y-4">
      <p>
        Hello! I'm Ras, and I enjoy building and learning new things. My passion
        for technology started early. When my parents bought my brothers and me
        our first PC (a Compaq 386), I was about six years old. From the moment
        that thing sat on the table, I was hooked. At first, I mostly used it to
        play video games, but when the movie <span class="italic">Hackers</span>
        came on TV, it literally changed me. From then on, I became really interested
        in learning about tech and had this deep drive to understand how things work.
      </p>
      <p>
        I still remember a time when I was trying to wrap my head around
        difference between binary and hexadecimal numbers from some random
        hacker website. Ah, what a time that was! When I was about 14, I decided
        I wanted to understand how websites worked, so I ordered my first-ever
        technical book: <span class="italic">HTML: The Definitive Guide</span> from
        <span class="italic">O'Reilly</span>. It was a reference manual for
        HTML4, but I read it page by page like it was a novel.
      </p>
      <p>
        After making some progress, I didn’t become a famous hacker or anything
        like that, but I did create my first website—a basic photo gallery from
        a school trip to Italy. I went on to create a few more static sites,
        including one for our World of Warcraft guild. After a while something
        changed. This was the early 2000s, and I remember being frustrated by
        all the browser incompatibilities and painful table layouts. I'm not
        sure if tech was that bad back then or if it was just my puberty kicking
        in, but I suddenly lost interest.
      </p>
      <p>
        A few years later, just as I was entering university, my passion for
        tech was reignited—this time with an interest in Linux and networking.
        Shortly after earning my bachelor's degree, I started working for Red
        Hat, which was a dream job! I learned something new every day and loved
        it.
      </p>
      <p>
        Few years into the job, my brother asked me to build a website for his
        business. I took on the challenge and I realized there had been huge
        progress in the web development, and many of the pain points I'd
        experienced before had been addressed. The building experience felt
        fresh and different. I fell in love with web development once again and
        decided to give it a real shot this time—I’ve not looked back since.
      </p>
    </div>
  </div>
</section>
