---

---

<div
  class="h-20 w-full rounded-xl p-2 text-xs flex flex-col justify-between bg-slate-400/20"
>
  <span class="text-neutral-400">Brno, CZ</span>
  <span class="text-neutral-400 sm:hidden">&copy; 2025 RH</span>
  <span class="text-neutral-400 hidden sm:inline"
    >&copy; 2025 Rastislav Hepner</span
  >
</div>
