---

---

<div
  class="h-20 w-full rounded-xl p-2 text-xs flex flex-col justify-between bg-neutral-200"
>
  <span class="text-neutral-500">Brno, CZ</span>
  <span class="text-neutral-500 sm:hidden">&copy; 2025 RH</span>
  <span class="text-neutral-500 hidden sm:inline"
    >&copy; 2025 Rastislav Hepner</span
  >
</div>
