---
import AuthorCard from "./AuthorCard.astro";
import ContactForm from "./ContactForm.astro";
import Heading from "./Heading.astro";
import SocialCard from "./SocialCard.astro";

interface Field {
  value: string;
  error: string;
}
interface Props {
  fields: {
    name: Field;
    email: Field;
    message: Field;
  };
}

const { fields } = Astro.props;
---

<section id="contact" class="bg-black px-4 md:px-24 py-32">
  <div class="grid md:grid-cols-2 gap-16 max-w-screen-2xl mx-auto">
    <Heading>
      <span class="text-white"
        >Let's build something <span class="text-slate-500">together</span
        ></span
      >
    </Heading>
    <ContactForm fields={fields} />
    <div
      class="flex md:col-span-2 gap-2 justify-between items-center"
    >
      <AuthorCard />
      <div class="flex text-white gap-2 justify-center md:justify-normal">
        <SocialCard id="github" />
        <SocialCard id="linkedin" />
      </div>
    </div>
  </div>
</section>
