---
import ContactForm from "./ContactForm.astro";
import Heading from "./Heading.astro";
---

<section id="contact">
  <Heading>
    <span
      >Let's build something <span class="text-slate-500">together</span></span
    >
  </Heading>
  <ContactForm />
</section>
