---
interface Props {
  errors: {
    name?: string;
    email?: string;
    message?: string;
  };
}

const { errors } = Astro.props;
---

<form
  class="grow flex flex-col max-w-2xl space-y-6"
  method="POST"
  action="/api/send-form"
  id="contact-form"
>
  <div class="flex flex-col space-y-2">
    <label for="name">Name</label>
    <input class="p-2 border" name="name" id="name" type="text" />
    {
      errors.name && (
        <p id="name-error" class="text-red-500">
          {errors.name}
        </p>
      )
    }
  </div>
  <div class="flex flex-col space-y-2">
    <label for="email">Email</label>
    <input class="p-2 border" name="email" id="email" type="email" required />
    {
      errors.email && (
        <p id="email-error" class="text-red-500">
          {errors.email}
        </p>
      )
    }
  </div>
  <div class="flex flex-col space-y-2">
    <label for="message">Message</label>
    <textarea
      class="p-2 border min-h-28 resize-y"
      name="message"
      id="message"
      placeholder=""></textarea>
    {
      errors.message && (
        <p id="message-error" class="text-red-500">
          {errors.message}
        </p>
      )
    }
  </div>
  <input
    class="sm:place-self-end px-6 py-4 text-lg font-semibold bg-black text-white outline-offset-4"
    type="submit"
    value="Send"
    id="form-submit"
  />
</form>
