---
interface Field {
  value: string;
  error: string;
}

interface Props {
  fields: {
    name: Field;
    email: Field;
    message: Field;
  };
}

const { fields } = Astro.props;
---

<form
  class="grow flex flex-col space-y-6"
  method="POST"
  action="/api/send-form"
  id="contact-form"
>
  <div class="flex flex-col space-y-2">
    <label for="name" class="text-gray-500">Name</label>
    <input
      class="p-2 rounded-md border outline-offset-4 border-gray-300 bg-white outline-gray-500"
      name="name"
      id="name"
      type="text"
      value={fields.name?.value || ""}
    />
    {
      fields.name && (
        <p id="name-error" class="text-red-500">
          {fields.name.error}
        </p>
      )
    }
  </div>
  <div class="flex flex-col space-y-2">
    <label for="email" class="text-gray-500">Email</label>
    <input
      class="p-2 rounded-md border outline-offset-4 border-gray-300 bg-white outline-gray-500"
      name="email"
      id="email"
      type="email"
      value={fields.email?.value || ""}
      required
    />
    {
      fields.email && (
        <p id="email-error" class="text-red-500">
          {fields.email.error}
        </p>
      )
    }
  </div>
  <div class="flex flex-col space-y-2">
    <label for="message" class="text-gray-500">Message</label>
    <textarea
      class="p-2 rounded-md border min-h-28 resize-y outline-offset-4 border-gray-300 bg-white outline-gray-500"
      name="message"
      id="message"
      placeholder="">{fields.message?.value || ""}</textarea
    >
    {
      fields.message && (
        <p id="message-error" class="text-red-500">
          {fields.message.error}
        </p>
      )
    }
  </div>
  <input
    class="transition-all hover:scale-105 shadow-lg sm:place-self-end px-8 py-4 hover:cursor-pointer rounded-md font-bold text-lg bg-gray-700 text-white outline-offset-4 outline-gray-500"
    type="submit"
    value="Send"
    id="form-submit"
  />
</form>
