---
import ContactForm from "./ContactForm.astro";
import Heading from "./Heading.astro";

interface Props {
  errors: {
    name?: string;
    email?: string;
    message?: string;
  };
}

const { errors } = Astro.props;
---

<section id="contact" class="bg-black px-4 py-32">
  <Heading>
    <span class="text-white"
      >Let's build something <span class="text-slate-500">together</span></span
    >
  </Heading>
  <ContactForm errors={errors} />
</section>
