---
import AuthorCard from "./AuthorCard.astro";
import ContactForm from "./ContactForm.astro";
import Heading from "./Heading.astro";
import SocialCard from "./SocialCard.astro";

interface Field {
  value: string;
  error: string;
}
interface Props {
  fields: {
    name: Field;
    email: Field;
    message: Field;
  };
}

const { fields } = Astro.props;
---

<footer id="contact" class="px-4 md:px-24 py-16 pb-8 space-y-8">
  <div
    class="flex flex-col md:flex-row md:mx-auto p-4 md:p-8 gap-8 rounded-xl bg-gray-200 max-w-screen-2xl"
  >
    <Heading>
      <span class="text-white"
        >Let's build something <span class="text-gray-600">together</span></span
      >
    </Heading>
    <div class="w-full">
      <ContactForm fields={fields} />
    </div>
  </div>
  <div
    class="flex md:mx-auto gap-2 justify-between items-center max-w-screen-2xl"
  >
    <AuthorCard />
    <div class="flex text-white gap-2 justify-center md:justify-normal">
      <SocialCard id="github" />
      <SocialCard id="linkedin" />
    </div>
  </div>
</footer>
