---
import { Image } from "astro:assets";
import profile from "../assets/profile.webp";
import Heading from "./Heading.astro";
import CTAButton from "./CTAButton.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section
  id="hero"
  class={`h-screen grid md:grid-cols-2 md:items-center justify-items-center overflow-hidden ${className || ""}`}
>
  <Image class="w-full max-w-[500px] self-end md:self-auto" src={profile} alt="Rastislav's profile" />
  <div class="flex flex-col items-start gap-8">
    <Heading>
      <p class="font-serif italic font-normal">
        &ldquo;Hi, I'm Ras—a web developer crafting fast, accessible, and human
        first web experiences.&rdquo;
      </p>
    </Heading>
    <CTAButton href="/#projects">Explore My Work</CTAButton>
  </div>
</section>
