---
import { Image } from "astro:assets";
import profile from "../assets/profile.webp";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section class={`grid gap-8 items-center sm:grid-cols-2 ${className || ""}`}>
  <div class="flex flex-col items-start gap-8">
    <h1 class="flex flex-col text-4xl md:text-5xl font-black">
      <span>Hey, Welcome!</span>
      <span
        >I'm Rastislav, <span class="text-slate-500">Web Developer</span> from Brno</span
      >
    </h1>
    <a class="px-6 py-4 text-lg font-semibold bg-black text-white">Let's talk</a
    >
  </div>
  <Image src={profile} alt="Rastislav's profile picture" />
</section>
