---
import AuthorCard from "./AuthorCard.astro";
import Heading from "./Heading.astro";
import SocialCard from "./SocialCard.astro";
---

<section id="contact" class="bg-black px-4 md:px-24 py-20 pb-8">
  <div class="grid md:grid-cols-2 gap-8 max-w-screen-2xl mx-auto text-white">
    <div
      class="flex md:col-span-2 p-4 md:p-8 gap-8 rounded-xl bg-slate-400/20"
    >
      <Heading>Let's talk</Heading>
    </div>
    <div class="flex gap-2 justify-between items-center md:col-span-2">
      <AuthorCard />
      <div class="flex text-white gap-2 justify-center md:justify-normal">
        <SocialCard id="github" />
        <SocialCard id="linkedin" />
      </div>
    </div>
  </div>
</section>
