---
import { Image } from "astro:assets";

const { title, description, cover, coverAlt } = Astro.props;
---

<article class="">
  <article class="">
    <Image alt={coverAlt} src={cover} width={300} height={200} />
    <h3>{title}</h3>
    <p>{description}</p>
  </article>
</article>
