---
import AuthorCard from "./AuthorCard.astro";
import CTAButton from "./CTAButton.astro";
import SocialCard from "./SocialCard.astro";
---

<section id="contact" class="bg-black px-4 md:px-24 py-20">
  <div class="grid md:grid-cols-2 gap-16 max-w-screen-2xl mx-auto">
    <div class="flex justify-end items-start md:col-span-2">
      <CTAButton href="/#contact" variant="light">Let's talk</CTAButton>
    </div>
    <div class="flex gap-2 justify-between items-center md:col-span-2">
      <AuthorCard />
      <div class="flex text-white gap-2 justify-center md:justify-normal">
        <SocialCard id="github" />
        <SocialCard id="linkedin" />
      </div>
    </div>
  </div>
</section>
