---
import { Image } from "astro:assets";
import HtmlIcon from "../assets/icons/HtmlIcon.svg";
import CssIcon from "../assets/icons/CssIcon.svg";
import JsIcon from "../assets/icons/JsIcon.svg";
import TsIcon from "../assets/icons/TsIcon.svg";
import ReactIcon from "../assets/icons/ReactIcon.svg";
import TwIcon from "../assets/icons/TwIcon.svg";
import ViteIcon from "../assets/icons/ViteIcon.svg";
import AstroIcon from "../assets/icons/AstroIcon.svg";

const skills = [
  { title: "HTML", icon: HtmlIcon, alt: "" },
  { title: "CSS", icon: CssIcon, alt: "" },
  { title: "Javascript", icon: JsIcon, alt: "" },
  { title: "Typescript", icon: TsIcon, alt: "" },
  { title: "React", icon: ReactIcon, alt: "" },
  { title: "Tailwindcss", icon: TwIcon, alt: "" },
  { title: "Astro", icon: AstroIcon, alt: "" },
  { title: "Vite", icon: ViteIcon, alt: "" },
];
---

<section id="toolkit" class="flex flex-col items-center pt-44 space-y-16">
  <h2 class="text-6xl">Tools I Use</h2>
  <div class="flex gap-4 flex-wrap justify-center content-center">
    {
      skills.map((item) => (
        <div class="p-4 flex justify-center items-center gap-2 rounded-lg border border-gray-300 hover:grayscale-0">
          <Image src={item.icon} alt="" />
          <div>{item.title}</div>
        </div>
      ))
    }
  </div>
</section>
