---
// Supports weights 200-800
import "@fontsource-variable/plus-jakarta-sans";

const {
  title = "Rastislav Hepner - Web Developer",
  description = "Web developer portfolio showcasing projects in React and Tailwind. Looking for opportunities to build dynamic, responsive websites and applications.",
} = Astro.props;
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>

  <body class="antialiased text-default">
    <slot />
  </body>
</html>
