---
import type { MetaData } from "../types";
import Metadata from "../components/Metadata.astro";
// Comment the line below to disable View Transitions
import { ViewTransitions } from "astro:transitions";

export interface Props {
  metadata?: MetaData;
}

const { metadata = {} } = Astro.props;
---

<!doctype html>
<html class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Metadata {...metadata} />
    <ViewTransitions fallback="swap" />
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />
  </body>
</html>
