---
// Supports weights 200-800
import "@fontsource-variable/plus-jakarta-sans";
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rastislav Hepner - Web Developer</title>
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />
  </body>
</html>
