---
import Contact from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { getContactFields } from "../utils";
import Layout from "./Layout.astro";

const contactFields = getContactFields(Astro.url.searchParams);
---

<Layout>
  <Navbar />
  <main class="px-4 md:px-24 bg-white">
    <div
      class="grid space-y-32 justify-center tracking-wide leading-loose max-w-screen-2xl mx-auto"
    >
      <slot />
    </div>
  </main>
  <Contact fields={contactFields} />
</Layout>
<Navbar />
